* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  background-color: #ddd;
  font-family: arial;
  overflow-x: hidden;
}

body .home {
  height: 100vh;
  background-color: #006eff;
}

body .center {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #c51cb7), to(#006eff));
  background: -webkit-linear-gradient(top, #c51cb7 20%, #006eff 100%);
  background: -o-linear-gradient(top, #c51cb7 20%, #006eff 100%);
  background: linear-gradient(180deg, #c51cb7 20%, #006eff 100%);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 3px 3px yellow;
          box-shadow: 0 0 3px 3px yellow;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-animation: home 1s ease-in both;
          animation: home 1s ease-in both;
}

body .center h1 {
  font-size: 35px;
  text-transform: uppercase;
}

body .center span {
  display: block;
  margin-top: 8vh;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #d5ec08;
  text-decoration: overline;
  -webkit-animation: grow 5s both, showH1 1.5s cubic-bezier(0.79, 2.17, 0.63, 0.98);
          animation: grow 5s both, showH1 1.5s cubic-bezier(0.79, 2.17, 0.63, 0.98);
}

body .center a {
  margin-top: 10vh;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  width: 60%;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 5px 20px;
  cursor: pointer;
  background-color: black;
  color: yellow;
  -webkit-animation: border 1s infinite linear, buttonshakes 2s infinite;
          animation: border 1s infinite linear, buttonshakes 2s infinite;
}

body .center a:hover {
  background-color: black;
  color: #c51cb7;
}

body .introduce {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #c51cb7), to(#006eff));
  background: -webkit-linear-gradient(bottom, #c51cb7 20%, #006eff 100%);
  background: -o-linear-gradient(bottom, #c51cb7 20%, #006eff 100%);
  background: linear-gradient(0deg, #c51cb7 20%, #006eff 100%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 1;
}

body .introduce input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 22px;
  padding: 4vw 7vw;
  text-align: center;
  text-transform: uppercase;
  color: #c51cb7;
  font-weight: 700;
  -webkit-animation: border 1s infinite linear;
          animation: border 1s infinite linear;
}

body .introduce ::-webkit-input-placeholder {
  color: #555;
  font-weight: 700;
}

body .introduce :-ms-input-placeholder {
  color: #555;
  font-weight: 700;
}

body .introduce ::-ms-input-placeholder {
  color: #555;
  font-weight: 700;
}

body .introduce ::placeholder {
  color: #555;
  font-weight: 700;
}

body .page {
  display: block;
  height: 100vh;
  max-width: 100%;
  text-align: center;
}

body .page .about {
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(yellow));
  background: -webkit-linear-gradient(bottom, #ddd 0%, yellow 100%);
  background: -o-linear-gradient(bottom, #ddd 0%, yellow 100%);
  background: linear-gradient(0deg, #ddd 0%, yellow 100%);
  background-padding-bottom: 10vh;
}

body .page .about h1 {
  padding: 15vh 0;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

body .page .about article {
  margin-bottom: 30px;
}

body .page .about article h2 {
  background-color: royalblue;
  padding: 20px 0 20px 10vw;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ddd;
}

body .page .about article img {
  float: left;
  padding: 0 30px;
}

body .page .about article p {
  font-size: 22px;
  padding-right: 40px;
  line-height: 55px;
}

.art1,
.art2,
.art4,
.art3 {
  -webkit-transition: 0.4s cubic-bezier(0.72, 1.95, 1, 1);
  -o-transition: 0.4s cubic-bezier(0.72, 1.95, 1, 1);
  transition: 0.4s cubic-bezier(0.72, 1.95, 1, 1);
  border: 2px solid black;
}

.art2,
.art4 {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
}

.art1,
.art3 {
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
}

.art1.active,
.art2.active,
.art3.active,
.art4.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes grow {
  0% {
    font-size: 35px;
  }
  100% {
    font-size: 48px;
  }
}

@keyframes grow {
  0% {
    font-size: 35px;
  }
  100% {
    font-size: 48px;
  }
}

@-webkit-keyframes home {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes home {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes showH1 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes showH1 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes buttonshakes {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  2% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  4% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  6% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  8% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  9% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes buttonshakes {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  2% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  4% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  6% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  8% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  9% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes border {
  0% {
    -webkit-box-shadow: 0 0 0 1px yellow;
            box-shadow: 0 0 0 1px yellow;
  }
  50% {
    -webkit-box-shadow: 0 0 3px 10px #c51cb7;
            box-shadow: 0 0 3px 10px #c51cb7;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px yellow;
            box-shadow: 0 0 0 1px yellow;
  }
}

@keyframes border {
  0% {
    -webkit-box-shadow: 0 0 0 1px yellow;
            box-shadow: 0 0 0 1px yellow;
  }
  50% {
    -webkit-box-shadow: 0 0 3px 10px #c51cb7;
            box-shadow: 0 0 3px 10px #c51cb7;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px yellow;
            box-shadow: 0 0 0 1px yellow;
  }
}
/*# sourceMappingURL=style.css.map */