*
    margin: 0
    padding: 0
    box-sizing: 0

.clearfix::after 
    content: ""
    clear: both
    display: block

body
    background-color: #ddd
    font-family: arial
    overflow-x: hidden
    .home
        height: 100vh
        background-color: rgb(0, 110, 255)
    .center
            background: linear-gradient(180deg, rgb(197, 28, 183) 20%, rgb(0, 110, 255) 100%)
            width: 100%
            height: 100vh
            position: fixed
            left: 0
            display: flex
            box-shadow: 0 0 3px 3px yellow
            flex-direction: column
            justify-content: center
            align-items: center
            z-index: 2
            transition: 2s
            animation: home 1s ease-in both
            h1
                font-size: $h1size
                text-transform: uppercase
                animation: 
                
            span
                display: block
                margin-top: 8vh
                font-size: $spansize
                font-weight: 700
                text-transform: uppercase
                letter-spacing: 4px
                color: rgb(213, 236, 8) 
                text-decoration: overline
                animation: grow 5s both, showH1 1.5s cubic-bezier(0.79, 2.17, 0.63, 0.98)
            a
                margin-top: 10vh
                transition: .2s linear
                width: 60%
                text-align: center
                font-size: $asize
                text-decoration: none
                color: black
                text-transform: uppercase
                border: 2px solid black
                padding: 5px 20px
                cursor: pointer
                background-color: black
                color: yellow
                animation: border 1s infinite linear, buttonshakes 2s infinite
                &:hover 
                    background-color: black
                    color: rgb(197, 28, 183) 
    .introduce
        position: relative
        left: 0
        top: 0
        height: 100vh
        width: 100%
        display: none
        // background-color: red
        background: linear-gradient(0deg, rgb(197, 28, 183) 20%, rgb(0, 110, 255) 100%)
        transition: 1s
        z-index: 1
        input
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            font-size: 22px
            padding: 4vw 7vw
            text-align: center
            text-transform: uppercase
            // box-shadow: 0 0 3px 3px yellow
            color: rgb(197, 28, 183)
            font-weight: 700
            // border:2px solid black
            animation: border 1s infinite linear
            // letter-spacing: 5px
        ::placeholder
            color: #555
            font-weight: 700
            
    .page 
        display: block
        height: 100vh
        max-width: 100%
        text-align: center
        .about 
            background: linear-gradient(0deg, #ddd 0%, yellow 100%)
             padding-bottom: 10vh
            h1 
                padding: 15vh 0
                text-transform: uppercase
                font-size: 50px
                text-align: center
                margin-bottom: 40px
            article 
                margin-bottom: 30px    
                h2 
                    background-color: royalblue
                    padding: 20px 0 20px 10vw
                    font-size: 30px
                    text-transform: uppercase
                    letter-spacing: 3px
                    font-weight: bold
                    margin-bottom: 20px
                    color: #ddd
                img 
                    float: left
                    padding: 0 30px
                p 
                    font-size: 22px
                    padding-right: 40px
                    line-height: 55px
.art1,
.art2,
.art4,
.art3 
    transition: .4s cubic-bezier(0.72, 1.95, 1, 1)
    border: 2px solid black



.art2,
.art4 
    transform: translateX(-150%)


.art1,
.art3 
    transform: translateX(150%)


.art1.active,
.art2.active,
.art3.active,
.art4.active 
    transform: translateX(0)

// .fas 
//     display: none


// .fas.show 
//     display: block
//     line-height: 50px


// .burger 
//     position: fixed
//     top: 10%
//     right: calc(5vw - 25px)
//     font-size: 30px
//     width: 50px
//     height: 50px
//     font-weight: 700
//     text-align: center
//     transition: .4s
//     cursor: pointer
//     z-index: 1


// .burger.show 
//     transform: rotate(360deg)
//     background-color: black
//     color: white
//     box-shadow: 0 0 0 10px white, 0 0 0 12px black


// aside 
//     position: fixed
//     top: 0
//     bottom: 0
//     left: -311px
//     width: 300px
//     background-color: black
//     transition: .4s
//     border: 2px solid yellow
//     box-shadow: 0 0 3px 6px black, 0 0 3px 8px yellow
//     z-index: 1


// aside.show 
//     left: 0px


// ul 
//     display: flex
//     height: 100vh
//     flex-direction: column
//     background-color: red
//     align-content: space-around
//     list-style: none


// li 
//     background-color: black
//     flex-grow: 1
//     display: flex
//     flex-direction: column
//     justify-content: center


// a 
//     display: block
//     padding: 5vh 0
//     background-color: yellow
//     text-align: center
//     border-top: 2px solid black
//     border-bottom: 2px solid black
//     font-size: 2rem
//     color: black
//     font-family: arial
//     text-decoration: none
//     text-transform: uppercase

        
@keyframes grow
    0%
        font-size: 35px
    100%
        font-size: 48px
@keyframes home
    0%
        top: -100%
    100%
        top: 0

@keyframes showH1
    0%
        transform: translateX(-200%)
    100%
        transform: translateX(0%)
        
@keyframes buttonshakes
    0%
        transform: translateX(-5%)
    2%
        transform: translateX(5%)
    4%
        transform: translateX(-5%)
    6%
        transform: translateX(5%)
    8%
        transform: translateX(-5%)
    9%
        transform: translateX(0)
    100%
        transform: translateX(0)
        
@keyframes border
    0%
        box-shadow: 0 0 0 1px yellow         
    50%
        box-shadow: 0 0 3px 10px rgb(197, 28, 183)
    100%
        box-shadow: 0 0 0 1px yellow            