*
    margin: 0
    padding: 0
    box-sizing: 0
     
body
    background-color: #ddd
    font-family: arial
    .home
        height: 100vh
        background-color: rgb(0, 110, 255)
    .center
            background: linear-gradient(180deg, rgb(197, 28, 183) 20%, rgb(0, 110, 255) 100%)
            width: 100%
            height: 100vh
            position: fixed
            left: 0
            display: flex
            box-shadow: 0 0 3px 3px yellow
            flex-direction: column
            justify-content: center
            align-items: center
            z-index: 2
            transition: 2s
            animation: home 1s ease-in both
            h1
                font-size: $h1size
                text-transform: uppercase
                animation: 
                
            span
                display: block
                margin-top: 8vh
                font-size: $spansize
                font-weight: 700
                text-transform: uppercase
                letter-spacing: 4px
                color: rgb(213, 236, 8) 
                text-decoration: overline
                animation: grow 5s both, showH1 1.5s cubic-bezier(0.79, 2.17, 0.63, 0.98)
            a
                margin-top: 10vh
                transition: .2s linear
                width: 60%
                text-align: center
                font-size: $asize
                text-decoration: none
                color: black
                text-transform: uppercase
                border: 2px solid black
                padding: 5px 20px
                cursor: pointer
                background-color: black
                color: yellow
                animation: border 1s infinite linear, buttonshakes 2s infinite
                &:hover 
                    background-color: black
                    color: rgb(197, 28, 183) 
    .introduce
        position: relative
        left: 0
        top: 0
        height: 100vh
        width: 100%
        display: none
        // background-color: red
        background: linear-gradient(0deg, rgb(197, 28, 183) 20%, rgb(0, 110, 255) 100%)
        transition: 1s
        z-index: 1
        input
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            font-size: 22px
            padding: 4vw 7vw
            text-align: center
            text-transform: uppercase
            // box-shadow: 0 0 3px 3px yellow
            color: rgb(197, 28, 183)
            font-weight: 700
            // border:2px solid black
            animation: border 1s infinite linear
            // letter-spacing: 5px
        ::placeholder
            color: #555
            font-weight: 700
            
    .page 
        display: none
        background-color: yellow
        height: 100vh
        max-width: 100%
        padding: 5vh 5vw
        // overflow: hidden
        // overflow-x: hidden  
        text-align: center
        
@keyframes grow
    0%
        font-size: 35px
    100%
        font-size: 48px
@keyframes home
    0%
        top: -100%
    100%
        top: 0

@keyframes showH1
    0%
        transform: translateX(-200%)
    100%
        transform: translateX(0%)
        
@keyframes buttonshakes
    0%
        transform: translateX(-5%)
    2%
        transform: translateX(5%)
    4%
        transform: translateX(-5%)
    6%
        transform: translateX(5%)
    8%
        transform: translateX(-5%)
    9%
        transform: translateX(0)
    100%
        transform: translateX(0)
        
@keyframes border
    0%
        box-shadow: 0 0 0 1px yellow         
    50%
        box-shadow: 0 0 3px 10px rgb(197, 28, 183)
    100%
        box-shadow: 0 0 0 1px yellow            